<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pacientes</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <h1>Lista de Pacientes</h1>
    <table>
        <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Rua</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>CEP</th>
        </tr>
        <tr th:each="paciente : ${pacientes}">
            <td th:text="${paciente.cpf}"></td>
            <td th:text="${paciente.nome}"></td>
            <td th:text="${paciente.rua}"></td>
            <td th:text="${paciente.cidade}"></td>
            <td th:text="${paciente.estado}"></td>
            <td th:text="${paciente.cep}"></td>
        </tr>
    </table>

    <h2>Add Paciente</h2>
    <form th:action="@{/pacientes}" method="post">
        <input type="text" name="cpf" placeholder="CPF" required>
        <input type="text" name="nome" placeholder="Name" required>
        <input type="text" name="rua" placeholder="Street">
        <input type="text" name="cidade" placeholder="City">
        <input type="text" name="estado" placeholder="State">
        <input type="text" name="cep" placeholder="CEP">
        <button type="submit">Add Paciente</button>
    </form>
    

    <!-- Include JavaScript if needed -->
</body>
</html>
